$textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// $bgGradient: linear-gradient(180deg, #d83030 0%, #57183E 100%);
$bgGradient: linear-gradient(180deg, #FF2525 0%, #57183E 100%);;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Permanent Marker', cursive;
  font-size: 32px;
  color: #fff;
  letter-spacing: 1.5px;
  overflow: hidden;
  user-select: none;
}

.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  width: 140px;
  height: 40px;
  background-color: #419c3b;
  font-family: 'Permanent Marker', cursive;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: 1s ease all;
  letter-spacing: 1px;
  font-size: 18px;
}

.start-screen {
  cursor: pointer;
  background: $bgGradient;

  & h1 {
    margin-top: 25vh;
    font-size: 85px;
    line-height: 93px;
    letter-spacing: 0.02em;
    text-shadow: $textShadow;
    text-align: center;
  }
  
  & h2 {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-shadow: $textShadow;
    animation: blinking 2.5s linear infinite alternate-reverse;
  }
}

@keyframes blinking {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}

.sign {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-shadow: $textShadow;
  margin-bottom: 3vh;
}

.nickname-input {
  display: none;
  justify-content: center;

  & h1 {
    font-size: 85px;
    line-height: 60px;
    text-shadow: $textShadow;
    text-align: center;

    & span {
      font-size: 40px;
    }
  }

  & input {
    border-radius: 5px;
    text-align: center;
    width: 320px;
    height: 45px;
    border: none;
    outline: none;  
    margin: 15px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;

    &::placeholder {
      color: rgba(133, 133, 133, 0.4);
    }
  }
}

#submit-nickname {
  font-size: 20px;
  line-height: 29px;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-shadow: $textShadow;
}

.main-menu {
  display: flex;
  justify-content: center;
  background: $bgGradient;
  position: relative;

  &__greeting {
    position: absolute;
    font-size: 1.5em;
    color: #F0BDC0;
    top: 15vh;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    height: 120%;
    width: 75%;
    z-index: 1;
    margin-top: -192px;
    margin-right: -90px;
    opacity: 1;
    transform: rotate(0deg);
  }
}

.menu-button {
  height: 200px;
  width: 200px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 30px;
  background: linear-gradient(180deg, #C9212D 0%, #A81E32 100%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(228, 58, 65, 0.5);
  z-index: 2;
  transition: .25s ease all;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background: linear-gradient(0deg, #af1b25 0%, #941629 100%);
  }

  &__inner {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #C82935 0%, #95162A 100%);
    box-shadow: -7px -7px 10px rgba(227, 82, 95, 0.3), 7px 7px 16px #810D21;
  }
}

.blured {
  filter: blur(5px);
  width: 105%;
  height: 105%;
  position: absolute;
  z-index: -1;
  top: -2vh;
  left: -2vw;
}

.buttons-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game, .settings, .rating {
  display: none;
}

.settings {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: $bgGradient;

  &__title {
    margin-top: 5vh;
  }

  &__faq {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: .25s ease all;
    background: linear-gradient(180deg, #FF2525 0%, #58183D 82.29%);
    color: #fff;
    font-family: 'Permanent Marker', cursive;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
}

.toggle {
  width: 88px;
  height: 45px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 14px;
  height: 85%;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 1px;

  &__button {
    background: #841B37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 100%;
    width: 54%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_active {
      background: #d4080ee7;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      box-sizing: content-box;
      border: 1px solid rgba(0, 0, 0, 0.473);
    }
  }
}
